<header class='navbar'>
  <div class='rounded'>
    <%= link_to image_tag("header.jpg", class: 'rounded'), root_path %>
  </div>
  <div>
    <ul class='nav navbar-nav center'>
      <li><%= link_to 'MI CASA', root_path %></li>
      <li><%= link_to 'Rooms and Prices', rooms_path %></li>
      <li><%= link_to 'Where are we?', where_path %></li>
      <li><%= link_to 'Things to do', things_path %></li>
      <li><%= link_to 'Gallery', gallery_path %></li>
      <li><%= link_to 'About us', about_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
    </ul>
  </div>
</header>
