<%= provide(:title, 'Gallery') %>
<h3>Gallery of images</h3>
<hr>
<div id="links">
    <%= link_to( image_tag("gallery/ave_tb.jpg", alt: "Ave"), image_path("gallery/ave.jpg" ), title: "Ave", data: { gallery: nil } ) %>
    <%= link_to( image_tag("gallery/chiva_tb.jpg", alt: "Chiva"), image_path("gallery/chiva.jpg" ), title: "Chiva", data: { gallery: nil } ) %>
    <%= link_to( image_tag("gallery/chiva-el-penol_tb.jpg", alt: "chiva-el-penol"), image_path("gallery/chiva-el-penol.jpg" ), title: "chiva-el-penol", data: { gallery: nil } ) %>
    <%= link_to( image_tag("gallery/el-penol_tb.jpg", alt: "el-penol"), image_path("gallery/el-penol.jpg" ), title: "el-penol", data: { gallery: nil } ) %>
    <%= link_to( image_tag("gallery/from-the-top-1_tb.jpg", alt: "from-the-top-1"), image_path("gallery/from-the-top-1.jpg" ), title: "from-the-top-1", data: { gallery: nil } ) %>
    <%= link_to( image_tag("gallery/from-the-top-2_tb.jpg", alt: "from-the-top-2"), image_path("gallery/from-the-top-2.jpg" ), title: "from-the-top-2", data: { gallery: nil } ) %>
    <%= link_to( image_tag("gallery/guatape_tb.jpg", alt: "guatape"), image_path("gallery/guatape.jpg" ), title: "guatape", data: { gallery: nil } ) %>
    <%= link_to( image_tag("gallery/guatape-2_tb.jpg", alt: "guatape-2"), image_path("gallery/guatape-2.jpg" ), title: "guatape-2", data: { gallery: nil } ) %>
    <%= link_to( image_tag("gallery/guatape-3_tb.jpg", alt: "guatape-3"), image_path("gallery/guatape-3.jpg" ), title: "guatape-3", data: { gallery: nil } ) %>
    <%= link_to( image_tag("gallery/guatape-4_tb.jpg", alt: "guatape-4"), image_path("gallery/guatape-4.jpg" ), title: "guatape-4", data: { gallery: nil } ) %>
    <%= link_to( image_tag("gallery/guatape-5_tb.jpg", alt: "guatape-5"), image_path("gallery/guatape-5.jpg" ), title: "guatape-5", data: { gallery: nil } ) %>
    <%= link_to( image_tag("gallery/guatape-6_tb.jpg", alt: "guatape-6"), image_path("gallery/guatape-6.jpg" ), title: "guatape-6", data: { gallery: nil } ) %>
    <%= link_to( image_tag("gallery/guatape-7_tb.jpg", alt: "guatape-7"), image_path("gallery/guatape-7.jpg" ), title: "guatape-7", data: { gallery: nil } ) %>
    <%= link_to( image_tag("gallery/hostel_tb.jpg", alt: "hostel"), image_path("gallery/hostel.jpg" ), title: "hostel", data: { gallery: nil } ) %>
    <%= link_to( image_tag("gallery/lago_tb.jpg", alt: "lago"), image_path("gallery/lago.jpg" ), title: "lago", data: { gallery: nil } ) %>
    <%= link_to( image_tag("gallery/muro_tb.jpg", alt: "muro"), image_path("gallery/muro.jpg" ), title: "muro", data: { gallery: nil } ) %>
    <%= link_to( image_tag("gallery/piedra_tb.jpg", alt: "piedra"), image_path("gallery/piedra.jpg" ), title: "piedra", data: { gallery: nil } ) %>
    <%= link_to( image_tag("gallery/plaza_tb.jpg", alt: "plaza"), image_path("gallery/plaza.jpg" ), title: "plaza", data: { gallery: nil } ) %>
    <%= link_to( image_tag("gallery/view_tb.jpg", alt: "view"), image_path("gallery/view.jpg" ), title: "view", data: { gallery: nil } ) %>
    <%= link_to( image_tag("gallery/virgen_tb.jpg", alt: "virgen"), image_path("gallery/virgen.jpg" ), title: "virgen", data: { gallery: nil } ) %>
</div>

