<% provide(:title, 'Rooms and Prices') %>
<h3>Common areas</h3>
<!-- tubnails de las fotos -->
<hr>
<h3>Master bedroom with private bathroom and lake view</h3>
<p>1 person: $50.000/$60.000 Normal/High season<br/>
   2 people: $60.000/$70.000 Normal/High season</p>
<%= image_tag 'rooms/master_bedroom.jpg' %>
<hr>
<h3>Private rooms with shared bathroom and lake view</h3>
<p>1 person: $40,000/$50,000 Normal/High season<br/>
   2 people: $50,000/$60,000 Normal/High season</p>
<%= image_tag 'rooms/private_room_lake.jpg' %>
<hr>
<h3>Shared room and shared bathroom (bunks and double bed)</h3>
<p>Single bed: $20,000<br/>
   Double bed: 1 person - $30,000, 2 people - $40,000</p>
<%= image_tag 'rooms/shared_room.jpg' %>
<hr>
<h3>Private room with shared bathroom</h3>
<p>1 person: $40,000/$50,000 Normal/High season<br/>
   2 people: $50,000/$60,000 Normal/High season</p>
<%= image_tag 'rooms/private_1.jpg' %>
<hr>
<h3>Private room with shared bathroom</h3>
<p>1 person: $40,000/$50,000 Normal/High season<br/>
   2 people: $50,000/$60,000 Normal/High season</p>
<%= image_tag 'rooms/private_2.jpg' %>
