<% provide(:title, 'Rooms and Prices') %>
<h3>Common areas</h3>
<%= link_to( image_tag("rooms/balcon_tb.jpg", alt: "balcon"), image_path("rooms/balcon.jpg" ), title: "balcon", data: { gallery: nil } ) %>
<%= link_to( image_tag("rooms/cocina_tb.jpg", alt: "cocina"), image_path("rooms/cocina.jpg" ), title: "cocina", data: { gallery: nil } ) %>
<%= link_to( image_tag("rooms/comedor_tb.jpg", alt: "comedor"), image_path("rooms/comedor.jpg" ), title: "comedor", data: { gallery: nil } ) %>
<%= link_to( image_tag("rooms/hamaca_tb.jpg", alt: "hamaca"), image_path("rooms/hamaca.jpg" ), title: "hamaca", data: { gallery: nil } ) %>
<%= link_to( image_tag("rooms/lago_tb.jpg", alt: "lago"), image_path("rooms/lago.jpg" ), title: "lago", data: { gallery: nil } ) %>
<%= link_to( image_tag("rooms/sala_tb.jpg", alt: "sala"), image_path("rooms/sala.jpg" ), title: "sala", data: { gallery: nil } ) %>

<!-- tubnails de las fotos -->
<hr>
<h3>Master bedroom with private bathroom and lake view</h3>
<p>1 person: $50.000/$60.000 Normal/High season<br/>
   2 people: $60.000/$70.000 Normal/High season</p>
<%= image_tag 'rooms/master_bedroom.jpg' %>
<hr>
<h3>Private rooms with shared bathroom and lake view</h3>
<p>1 person: $40,000/$50,000 Normal/High season<br/>
   2 people: $50,000/$60,000 Normal/High season</p>
<%= image_tag 'rooms/private_room_lake.jpg' %>
<hr>
<h3>Shared room and shared bathroom (bunks and double bed)</h3>
<p>Single bed: $20,000<br/>
   Double bed: 1 person - $30,000, 2 people - $40,000</p>
<%= image_tag 'rooms/shared_room.jpg' %>
<hr>
<h3>Private room with shared bathroom</h3>
<p>1 person: $40,000/$50,000 Normal/High season<br/>
   2 people: $50,000/$60,000 Normal/High season</p>
<%= image_tag 'rooms/private_1.jpg' %>
<hr>
<h3>Private room with shared bathroom</h3>
<p>1 person: $40,000/$50,000 Normal/High season<br/>
   2 people: $50,000/$60,000 Normal/High season</p>
<%= image_tag 'rooms/private_2.jpg' %>
